
html, body {
    width: 100%;

}
.Part1{
    text-align: center;
    background: transparent;
    font-size: small;
    font-weight: bold;
    color: white;
    font-family: Poppins;
}
.section-1{
    background: url("/IMAGES/man\ shoes.jpg");
    height: 100vh;
    background-size: cover;
    
}
.Division B{
    background: whitesmoke;
    height: 50vh;
}

.Part2{
    text-align: center;
    font-size: 1em;
    color: black;
    background: transparent;
}
.section-3{
    background: url("/IMAGES/laptop.jpg");
    height: 50vh;
    background-size: cover;

}
.Part3{
    font-size: 15px;
    text-align: center;
    background: transparent;
    color:white;
}

.Part4{
    color: black;
    text-align: center;
    min-height: 300px;
}

.section-4{
    background: whitesmoke;
    height: 50vh;
}

.section-5{
    text-align: center;
    height: 100vh;
    padding: 0% 140px;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.Part5{
    text-align: center;
    font-weight: bold;
    font-size: small;
    background: transparent;
    color: white;
}

.form{
    display: inline;
    color: gainsboro;
}

#myform{
    background-color: yellowgreen;
}

.textarea{
    width: 35%;
    margin: 0 auto;
}

.section-6{
    background: url("/IMAGES/background.jpg");
    height: 50vh;
    color: white;
    text-align: center;
    background-size: cover;
}

.section-7{
    text-align: center;
}

.design-description{
    display: none;
}

.develop-description{
    display: none;
}

.product-description{
    display: none;
}
h5{
    text-align: center;
}

#blank{
   
   color: black;
    display: none;
    position: absolute;
}

#pic1{
    
    
    position: absolute;
    color: black;
    display: none;
}

#pic2{
    
    position: absolute;
    color: black;
    display: none;
}

#pic3{
 
    position: absolute;
    color: black;
    display: none;
}

#pic4{
   
    position: absolute;
    color: black;
    display: none;
}

#pic5{
  
    position: absolute;
    color: black;
    display: none;
}

#pic6{
 
    position: absolute;
    color: black;
    display: none;
}

#pic7{

    position: absolute;
    color: black;
    display: none;
}

#pic8{
   
    position: absolute;
    color: black;
    display: none;
 
}


p{
    font-family: Simonetta;
}



