.Part1{
    text-align: center;
    background: transparent;
    font-size: small;
    font-weight: bold;
    color: white;
}
.section-1{
    background: url("/IMAGES/man\ shoes.jpg");
    height: 100vh;
    background-size: cover;
    
}
.Division B{
    background: whitesmoke;
    height: 50vh;
}

.Part2{
    text-align: center;
    font-size: 1em;
    color: black;
    background: transparent;
}
.section-3{
    background: url("/IMAGES/laptop.jpg");
    height: 50vh;
    background-size: cover;

}
